In [1]:

import pandas as pd
import numpy as np

In [8]:
# Read in all 2019 rider data
january_2019 = pd.read_csv('citi_bike_data/JC-201901-citibike-tripdata.csv')
february_2019 = pd.read_csv('citi_bike_data/JC-201902-citibike-tripdata.csv')
march_2019 = pd.read_csv('citi_bike_data/JC-201903-citibike-tripdata.csv')
april_2019 = pd.read_csv('citi_bike_data/JC-201904-citibike-tripdata.csv')
may_2019 = pd.read_csv('citi_bike_data/JC-201905-citibike-tripdata.csv')
june_2019 = pd.read_csv('citi_bike_data/JC-201906-citibike-tripdata.csv')
july_2019 = pd.read_csv('citi_bike_data/JC-201907-citibike-tripdata.csv')
august_2019 = pd.read_csv('citi_bike_data/JC-201908-citibike-tripdata.csv')
septemper_2019 = pd.read_csv('citi_bike_data/JC-201909-citibike-tripdata.csv')

In [13]:
# Merge the 2019 monthly data and sort by trip_id
citibike_2019 = pd.concat([january_2019, february_2019, march_2019, april_2019, may_2019,
                       june_2019, july_2019, august_2019,septemper_2019])
citibike_2019 = citibike_2019.sort_values(by='starttime')

In [14]:
citibike_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
5530,267,2019-01-01 00:01:32.1080,2019-01-01 00:05:59.1140,3195,Sip Ave,40.730743,-74.063784,3678,Fairmount Ave,40.725726,-74.071959,26284,Subscriber,1988,1
18477,468,2019-01-01 00:25:04.6890,2019-01-01 00:32:53.0530,3640,Journal Square,40.733670,-74.062500,3281,Leonard Gordon Park,40.745910,-74.057271,29435,Subscriber,1969,1
18914,456,2019-01-01 00:53:22.3880,2019-01-01 01:00:59.0950,3677,Glenwood Ave,40.727551,-74.071061,3201,Dey St,40.737711,-74.066921,29489,Subscriber,1976,1
14389,266,2019-01-01 01:02:44.6400,2019-01-01 01:07:11.4980,3273,Manila & 1st,40.721651,-74.042884,3203,Hamilton Park,40.727596,-74.044247,26275,Subscriber,1992,2
14390,255,2019-01-01 01:02:57.5560,2019-01-01 01:07:12.5560,3273,Manila & 1st,40.721651,-74.042884,3203,Hamilton Park,40.727596,-74.044247,29277,Subscriber,1991,1

In [15]:
# Save the DF to csv for use in Tableau
citibike_2019.to_csv("citibike_2019.csv", index=False, header=True)